$desktop: 760px; 

$font-stack: 'Open Sans', sans-serif;
$colors: (
    white: rgb(255, 255, 255),
    bg: rgb(235, 235, 235),
    subtitle: rgb(255, 217, 217),
    red: rgb(138, 0, 0),
    primary-text: rgb(10, 10, 10),
    secondary-text: rgb(110, 110, 110),
    span:rgb(230, 134, 134)
);