@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

main .right-column {
  background-color: #8a0000;
  padding: 30px;
}

main .right-column h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

main .right-column .subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #ffd9d9;
  margin-bottom: 50px;
}

main .right-column p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  color: white;
}

main .right-column p .icon {
  width: 22px;
  margin-right: 10px;
}

main .right-column p span {
  font-family: "Open Sans", sans-serif;
  color: #e68686;
  font-size: 12px;
}

main .right-column h2 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
}

main .right-column .icon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

main .right-column .title {
  margin: 50px 0px 0px 0px;
}
