@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@mixin flex($align) {
    display: flex;
    align-items: $align;
    justify-content: $align;
}

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$font-stack: 'Open Sans', sans-serif;
$colors: (
    white: rgb(255, 255, 255),
    bg: rgb(235, 235, 235),
    shadow:rgb(214, 214, 214),
    subtitle: rgb(255, 217, 217),
    red:rgb(138, 0, 0),
    span:rgb(230, 134, 134)
);

body {
    @include flex(center);
    background-color: color(bg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: color(white);
    
    .right-column {
        background-color: color(red);
        padding: 30px;

        h1 {
            font-family: $font-stack;
            font-weight: bold;
            text-align: center;
            color: color(white);
        }

        .subtitle {
            font-family: $font-stack;
            font-weight: 600;
            text-align: center;
            color: color(subtitle);
            margin-bottom: 50px;
        }

        p {
            font-family: $font-stack;
            line-height: 1.8em;
            color: color(white);
            
            .icon {
                width: 22px;
                margin-right: 10px;
            }

            span {
                font-family: $font-stack;
                color: color(span);
                font-size: 12px;
            }
        }

        h2 {
            text-transform: uppercase;
            font-family: $font-stack;
            font-weight: bold;
            color: color(white);
        }
        
        .icon-description {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
        }

        .title {
            margin: 50px 0px 0px 0px;
        }
    }
}