@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

@media (min-width: 760px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 91vw;
    margin: 30px 0px 30px 0px;
    -webkit-box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  }
}

main .right-column {
  background-color: #8a0000;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 760px) {
  main .right-column {
    max-width: 30%;
    display: unset;
    padding: 30px;
  }
}

main .right-column .header-photo {
  max-width: 65vw;
  border-radius: 50%;
}

@media (min-width: 760px) {
  main .right-column .header-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
}

main .right-column h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 20px 0px 20px 0px;
  font-size: 10vw;
}

@media (min-width: 760px) {
  main .right-column h1 {
    font-size: 35px;
  }
}

main .right-column .subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #ffd9d9;
  margin: 0px 0px 20px 0px;
  font-size: 4vw;
}

@media (min-width: 760px) {
  main .right-column .subtitle {
    font-size: 20px;
    margin: 10px 0px 30px 0px;
  }
}

main .right-column p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  color: white;
}

@media (min-width: 760px) {
  main .right-column p {
    font-size: 17px;
    margin: 20px 0px 15px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

main .right-column p .icon {
  width: 22px;
  margin-right: 10px;
}

@media (min-width: 760px) {
  main .right-column p .icon {
    width: 20px;
    margin-right: 8px;
  }
}

main .right-column p span {
  font-family: "Open Sans", sans-serif;
  color: #e68686;
  font-size: 12px;
}

main h2 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
}

@media (min-width: 760px) {
  main h2 {
    margin-top: 40px;
  }
}

main a {
  text-decoration: none;
}

main .icon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main .icon-description:hover {
  color: #e68686;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

main .icon-description .title {
  margin: 50px 0px 0px 0px;
}

main .left-column {
  background-color: white;
  padding: 30px;
}

main .left-column h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: #8a0000;
  line-height: 1em;
  padding-left: 17px;
  position: relative;
}

main .left-column h2:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 7px;
  height: 23px;
  background: #8a0000;
}

main .left-column h3 {
  font-family: "Open Sans", sans-serif;
  color: #0a0a0a;
  margin: 0px 0px 5px 0px;
}

main .left-column span {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #6e6e6e;
  font-size: 13px;
}

main .left-column p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  color: #0a0a0a;
  text-align: justify;
}

main .left-column ul li {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  color: #0a0a0a;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */